@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@500;600;700;800&display=swap');

:root {
	--first-color: hsl(271, 76%, 53%);
	--title-color: hsl(0, 0%, 40%);
	--text-color: hsl(0, 0%, 50%);
	--body-color: hsl(0, 0%, 100%);
	--container-color: hsl(0, 0%, 93%);
	--border-color: hsl(0, 0%, 87%);
	--text-white: #fff;

	--big-font-size: 56px;
	--h1-font-size: 50px;
	--h2-font-size: 32px;
	--h3-font-size: 26px;
	--large-font-size: 18px;
	--normal-font-size: 16px;
	--small-font-size: 15px;
	--smaller-font-size: 14px;
	--tiny-font-size: 12px;
}
$first-color: var(--first-color);

//Variables

$title-color: var(--title-color);
$text-color: var(--text-color);
$body-color: var(--body-color);
$container-color: var(--container-color);
$border-color: var(--border-color);
$text-white: #fff;

$body-font: 'Open Sans', sans-serif;
$second-font: 'Poppins', sans-serif;

$big-font-size: --big-font-size;
$h1-font-size: --h1-font-size;
$h2-font-size: --h2-font-size;
$h3-font-size: --h3-font-size;
$large-font-size: --large-font-size;
$normal-font-size: --normal-font-size;
$small-font-size: --small-font-size;
$smaller-font-size: --smaller-font-size;
$tiny-font-size: --tiny-font-size;

$weight-400: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;
$weight-800: 800;

.dark-theme {
	--title-color: hsl(0, 0%, 100%) !important;
	--text-color: hsl(0, 0%, 80%);
	--body-color: hsl(0, 0%, 7%);
	--container-color: hsl(0, 1%, 17%);
	--border-color: hsl(0, 0%, 15%);
}

@media screen and (max-width: 1200px) {
	$big-font-size: 36px;
	$h1-font-size: 32px;
	$h2-font-size: 24px;
	$h3-font-size: 20px;
	$large-font-size: 16px;
	$normal-font-size: 15px;
	$small-font-size: 14px;
	$smaller-font-size: 13px;
	$tiny-font-size: 11px;
}
