@import '../../variables.scss';

.home {
	grid-template-columns: 7.32fr 2.68fr;
	align-items: center;
	padding: 80px 40px;
	height: 100vh;

	&__content {
		margin: 0 auto;
	}

	&__img {
		height: auto;
		width: 70%;
		object-fit: cover;
		// box-shadow: 0 08px hsla(0, 0%, 0%, 0.3);
		z-index: 1;
	}
	&__data {
		width: 600px;
		margin-inline: auto;
		padding-top: 20px;
	}
	&__title {
		position: relative;
		font-size: $h1-font-size;
		line-height: 1.24;
		padding-left: 70px;
	}
	&__title span {
		color: $first-color;
	}
	&__title::before {
		content: '';
		position: absolute;
		left: 0;
		top: 40%;
		width: 40px;
		height: 5px;
		border-radius: 10px;
		background-color: $first-color;
	}
	&__description {
		line-height: 1.825;
		margin: 32px 0;
		font-size: $large-font-size;
	}
}

.color__block {
	position: fixed;
	height: 200%;
	width: 100%;
	background-color: $first-color;
	top: -50%;
	right: -73%;
}
.slidingTextContainer {
	position: absolute;
	font-size: 10vh;
	bottom: 0;
	white-space: nowrap;
	opacity: 0.3;
	width: 50%;
}
